# Demo 3.2: Reading an *Excel* file      
 
Read an Excel worksheet into a *pandas* Dataframe and display basic info about the new *pandas* Dataframe.   

** requires data file: `w3schools_Data.xlsx`; Worksheet: `Orders` 


  
- **Demonstrates**:  
  - read_excel()  
  - head()  
  - shape 
  - dtypes  

  ---

In [1]:
import pandas as pd

### 1. Read the Excel Worksheet data into a pandas dataframe

In [14]:
df = pd.read_excel('w3schools_Data.xlsx', sheet_name='Orders', skiprows=3)
df

     OrderID  CustomerID  EmployeeID  OrderDate  ShipperID
0      10248          90           5 1996-07-04          3
1      10249          81           6 1996-07-05          1
2      10250          34           4 1996-07-08          2
3      10251          84           3 1996-07-08          1
4      10252          76           4 1996-07-09          2
..       ...         ...         ...        ...        ...
191    10439          51           6 1997-02-07          3
192    10440          71           4 1997-02-10          2
193    10441          55           3 1997-02-10          2
194    10442          20           3 1997-02-11          2
195    10443          66           8 1997-02-12          1

[196 rows x 5 columns]

### 2. Display Column Data Type info

In [15]:
df.dtypes

OrderID                int64
CustomerID             int64
EmployeeID             int64
OrderDate     datetime64[ns]
ShipperID              int64
dtype: object