# Demo 3.8 - Part 2: First Row as Headers  

### Note:  This is sometimes required when Screenscraping - but not always!  
- **Skills Demonstrated:**  
  1. Using First Row as Header/Column Names    


- **Situation:**  The Column Names we want are actually the first row of the data 
  - This is a common situation!  


  
  
- **Solution Steps:**  
  1. Grab the Column Names out of the First Row of the Dataframe   
  2. Set the columns property of the Dataframe equal to the column names  
  3. Now get rid of the First Row of the dataframe

In [ ]:
import pandas as pd

In [ ]:
# Hardcode a dataframe 
df = pd.DataFrame(
    [
    ['BusinessEntityID', 'EmployeeName','EmailAddress', 'PhoneNumber', 'StartDate', 'CurrentSalary'],
    [1699,'Robinett, David','david22@adventure-works.com', '(827) 525-0100', '06-05-2010', '$80,950'], 
    [1700,'Robinson, Rebecca','rebecca5 @adventure-works.com', '(829) 525-0101', '05-01-2015', '$70,950'],
    [1701,'Robinson, Dorothy','dorothy3@adventure-works.com', '(828) 555-0102', '03-01-2017', '$50,00'],
    ]
)
  
print(df.shape)
df

# 1. Grab the Column Names out of the First Row of the Dataframe
- Use iloc to point to the first row of the dataframe

# 2. Set the columns property of the Dataframe equal to the column names we grabbed

In [ ]:

print(df.shape)
df.head()

# 3. Now Get Rid of the First Row of the Dataframe

In [ ]:


print("3.5 Demo Part 2: Getting Columns names from 1st Data Row")
print(df.shape)
df