# Ex: 3.11: Reading Tables from a Relational Database

- **Objective**: Read tables from a relational database and use fundamental SQL operations including SELECT, FROM, WHERE, and ORDER BY to query and manipulate data.

- **Requires data files: `product_data.sqlite`**

- **Demonstrates**:
    - Reading tables from a relational database.
    - SELECT, FROM, WHERE, and ORDER BY SQL operations.

---

The SQLAlchemy package in Python enables one to connect to a SQL database and extract data based on SQL queries into Pandas DataFrames. To begin, we need to install the SQLAlchemy package. Execute the following code cell below.

In [1]:
%pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.38-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\brown\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading SQLAlchemy-2.0.38-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 2.8 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 3.2 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 3.2 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl (299 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.38
Note: you may need to restart the kernel to use updated packages.

Continue with a couple imports &mdash; execute the code cell below.

In [2]:
from sqlalchemy import create_engine, inspect
import pandas as pd

### Step 1.

You will be working with a sqlite database named `"product_data.sqlite"`. sqlite is a relational database management system that support SQL databases in files, as opposed to residing on a separate database server somewhere.

Execute the code cell below. It contains an expression that creates a sqlalchemy engine object by connecting to the "product_data.sqlite" database, and assigns that object to variable `engine`.

In [3]:
engine = create_engine('sqlite:///product_data.sqlite')

### Step 2.

Since a relational database can hold multiple tables, it's useful to be able to determine what tables are contained in a database. The inspect module in SQLAlchemy provides a method called `get_table_names` that returns a list of table names in the database.

- Pass the engine object to the `inspect` function to create an inspector object. Then, use the `get_table_names` method to assign the list of table names to the variable `tables`, and print the value of `tables`.

In [8]:
inspector = inspect(engine)
tables = inspector.get_table_names()
tables

['inventory', 'orders', 'sales']

### Step 3.

Following the examples shown in the course notebook, in the code cell below, write and evaluate three statements to extract the sales, orders, and inventory tables from the databases, and assign each of those dataframes to an associated variable (named ```sales```, ```orders```, and ```inventory```, respectively).  Inspect each of the three dataframes, either by printing them out in the cell below, or adding additional code cells to inspect the contents of each dataframe individually.

In [11]:
inventory = pd.read_sql_query("SELECT * FROM inventory", engine)
print(inventory)
orders = pd.read_sql_query("SELECT * FROM orders", engine)
print(orders)
sales = pd.read_sql_query("SELECT * FROM sales", engine)
print(sales)

   Month  Pens  Pencils  Erasers  Paper
0    Jan   800      950      320    920
1    Feb   430      530      265    470
2    Mar   175      228      240    190
3    Apr   525      503      320    590
4    May   325      228      279    365
5    Jun   200       58      254    181
6    Jul  1150     1378      644   1281
7    Aug   725      778      554    776
8    Sep   302      198      459    251
9    Oct   602      473      499    451
10   Nov   497      367      487    248
11   Dec   419      298      472    149
  Month  Pens  Pencils  Erasers  Paper
0   Jan  1200     1500      400   1400
1   Apr   500      500      100    600
2   Jul  1000     1400      400   1200
3   Oct   500      500      100    600
   Month  Pens  Pencils  Erasers  Paper
0    Jan   400      550       80    480
1    Feb   370      420       55    450
2    Mar   255      302       25    280
3    Apr   150      225       20    200
4    May   200      275       41    225
5    Jun   125      170       25    184
6    Jul    50       80       10    100
7    Aug   425      600       90    505
8    Sep   423      580       95    525
9    Oct   200      225       60    400
10   Nov   105      106       12    203
11   Dec    78       69       15     99

### Step 4.

Inspect the `inventory table`. You will see a column named `paper`. Imagine you want to know when your inventory of paper is too large, say, more than 700 reams.  In the code cell below, write and evaluate an expression to extract the rows in which the paper inventory is more than 700. Assign the database output to the variable ```too_much_paper```, and examine the extracted dataframe.

Hint: 
If you are uncertain about how to write this query, take a moment to reflect on the example provided on our course notebook site. In the course notebook, the following SQL query is used to illustrate one way you can refine a query to return very precise information from a database.

`low_inventory = pd.read_sql_query('SELECT * from inventory where (Pencils < 200) or (Pens < 200) or (Erasers < 50) or (Paper < 300)', engine)`

This query asks the `inventory` table to return all of its records where either the value in the `Pencils` column is less than 200 or the value in the `Pens` column is less than 200 or the value in the `Erasers` column is less than 50 or the value in the `Paper` column is less than 300.

Because you are asked to return rows where `Paper` is greater than 700, you won't need all of the additional `or` statements that check the values in other columns.

In [15]:
too_much_paper = pd.read_sql_query("SELECT * FROM inventory where (Paper < 700)", engine)
print(too_much_paper)

  Month  Pens  Pencils  Erasers  Paper
0   Feb   430      530      265    470
1   Mar   175      228      240    190
2   Apr   525      503      320    590
3   May   325      228      279    365
4   Jun   200       58      254    181
5   Sep   302      198      459    251
6   Oct   602      473      499    451
7   Nov   497      367      487    248
8   Dec   419      298      472    149

### Step 5.

SQL queries provide a wide range of functionalities.  For example, you can numerically sort the rows in the output with the keywords ```order by```.  Imagine you have a SQL query like 'select [MAIN QUERY]' where MAIN_QUERY reflects whatever you're extracting from the database; you can tack on to the end of a SQL query string additional query details of the form:

* 'select [MAIN QUERY] order by COLUMN_NAME' : to sort the output based on the specified COLUMN_NAME in ascending order (default)

* 'select [MAIN QUERY] order by COLUMN_NAME desc' : to sort the output based on the specified COLUMN_NAME in descending order

In the code cell below, write and evaluate an expression to extract all the sales data (using the 'select * from sales' query you've used previously), sorted in descending order by the Paper sales in each month.  Assign the result to the variable ```top_paper_sales``` and inspect the dataframe.

In [22]:
top_paper_sales = pd.read_sql_query("SELECT * FROM inventory order by Paper desc", engine)
print(top_paper_sales)

   Month  Pens  Pencils  Erasers  Paper
0    Jul  1150     1378      644   1281
1    Jan   800      950      320    920
2    Aug   725      778      554    776
3    Apr   525      503      320    590
4    Feb   430      530      265    470
5    Oct   602      473      499    451
6    May   325      228      279    365
7    Sep   302      198      459    251
8    Nov   497      367      487    248
9    Mar   175      228      240    190
10   Jun   200       58      254    181
11   Dec   419      298      472    149