In [2]:
import pandas as pd
df = pd.read_csv('WorldBank_GDPChange.csv')
print(df.shape)
df.head()

(266, 3)

                  Country_Name Country_Code  GDP_Change
0                        Aruba          ABW   17.172509
1  Africa Eastern and Southern          AFE    4.293395
2                  Afghanistan          AFG  -20.737146
3   Africa Western and Central          AFW    3.965399
4                       Angola          AGO    1.100000

Question 1: What were the Top 10 Countries for Annual GDP Change?

In [3]:
print("Q1: What were the Top 10 Countries for Annual GDP Change")
df_Q1 = df.groupby('Country_Name', as_index=True).sum(numeric_only=False).reset_index()
df_Q1 = df_Q1.sort_values(by='GDP_Change', ascending=False)
df_Q1 = df_Q1.head(10)
print(df_Q1.shape)
df_Q1

Q1: What were the Top 10 Countries for Annual GDP Change
(10, 3)

         Country_Name Country_Code  GDP_Change
151          Maldives          MDV   41.745101
140             Libya          LBY   31.372422
164            Monaco          MCO   21.553561
98             Guyana          GUY   20.060011
147  Macao SAR, China          MAC   19.267056
12              Aruba          ABW   17.172509
190            Panama          PAN   15.335874
22             Belize          BLZ   15.226131
163           Moldova          MDA   13.944590
16       Bahamas, The          BHS   13.719735


Question 2: What were the Bottom 15 Countries for Annual GDP Change?

In [4]:
print("Q2: What were the Bottom 15 Countries for Annual GDP Change?")
df_Q2 = df.groupby('Country_Name', as_index=True).sum(numeric_only=False).reset_index()
df_Q2 = df_Q2.sort_values(by='GDP_Change', ascending=True)
df_Q2 = df_Q2.head(15)
print(df_Q2.shape)
df_Q2

Q2: What were the Bottom 15 Countries for Annual GDP Change?
(15, 3)

                    Country_Name Country_Code  GDP_Change
0                    Afghanistan          AFG  -20.737146
169                      Myanmar          MMR  -17.912945
189                        Palau          PLW  -13.333333
204                        Samoa          WSM   -7.084588
137                      Lebanon          LBN   -7.001239
80                          Fiji          FJI   -5.111607
187  Pacific island small states          PSS   -3.667728
158        Micronesia, Fed. Sts.          FSM   -3.188187
233                     Suriname          SUR   -2.729619
242                        Tonga          TON   -2.667506
50                   Congo, Rep.          COG   -2.200003
232                        Sudan          SDN   -1.868520
5                 American Samoa          ASM   -1.866252
99                         Haiti          HTI   -1.798240
31             Brunei Darussalam          BRN   -1.590762

Question 3: What was the annual GDP Change for Denmark, Spain, Mexico, Canada, United States, and the Upper Middle Income Countries?
- Sort this DataFrame by Annual GDP Change, Highest to Lowest

In [13]:
print("Q3: What was the annual GDP Change for Denmakr, Spain, Mexico, Canada, United States, and the Upper Middle Income Countries?")
df_Q3 = df.groupby('Country_Name').sum(numeric_only=False).reset_index()
df_Q3 = df_Q3[df_Q3['Country_Name'].str.contains('Denmark|Spain|Mexico|Canada|Upper middle income|United States')]
df_Q3 = df_Q3.sort_values(by='GDP_Change', ascending=False)
df_Q3 = df_Q3.head(15)
print(df_Q3.shape)
df_Q3

Q3: What was the annual GDP Change for Denmakr, Spain, Mexico, Canada, United States, and the Upper Middle Income Countries?
(6, 3)

            Country_Name Country_Code  GDP_Change
254  Upper middle income          UMC    7.402123
253        United States          USA    5.945485
223                Spain          ESP    5.519595
58               Denmark          DNK    4.855708
157               Mexico          MEX    4.720565
38                Canada          CAN    4.540887