# Ex 3.4 Filtering a DataFrame
- Objectives: Learn how to filter a *pandas* DataFrame

** requires data files: `Cars.csv`, `Sample - Superstore.xlsx`, and `Leading_Causes_of_Death.csv`.

---

# Part 1

In [2]:
import pandas as pd

In [4]:
# 1. Read the file Cars.csv into a DataFrame; display the DataFrame head and shape.
df = pd.read_csv('Cars.csv')
print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
0,Acura,MDX,SUV,Asia,17,23,36945,33337,4451,106,All,3.5,265
1,Acura,RSX Type S 2dr,Sedan,Asia,24,31,23820,21761,2778,101,Front,2.0,200
2,Acura,TSX 4dr,Sedan,Asia,22,29,26990,24647,3230,105,Front,2.4,200
3,Acura,TL 4dr,Sedan,Asia,20,28,33195,30299,3575,108,Front,3.2,270
4,Acura,3.5 RL 4dr,Sedan,Asia,18,24,43755,39014,3880,115,Front,3.5,225

In [5]:
# 2. Display the data types of each column
df.dtypes

Vehicle_Make             object
Vehicle_Model            object
Vehicle_Type             object
Manufacturing_Origin     object
MPG_City                  int64
MPG_Hwy                   int64
MSRP                      int64
Invoice                   int64
Weight                    int64
Wheelbase                 int64
DriveTrain               object
EngineSize              float64
Horsepower                int64
dtype: object

In [6]:
# 3. Get unique values of Makes
df['Vehicle_Make'].unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover',
       'Lexus', 'Lincoln', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mercury',
       'Mitsubishi', 'Nissan', 'Oldsmobile', 'Pontiac', 'Porsche', 'Saab',
       'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [7]:
# 4. Confirm the MPG_City column is numeric
df['MPG_City'].dtype

dtype('int64')

### 5. Filter the data using query() to show only Chevys with MPG_City >= 25

In [8]:
df_Q1 = df.query("Vehicle_Make == 'Chevrolet' and MPG_City >= 25")
print(df_Q1.shape)
df_Q1

(5, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
67,Chevrolet,Aveo 4dr,Sedan,USA,28,34,11690,10965,2370,98,Front,1.6,103
68,Chevrolet,Aveo LS 4dr hatch,Sedan,USA,28,34,12585,11802,2348,98,Front,1.6,103
69,Chevrolet,Cavalier 2dr,Sedan,USA,26,37,14610,13697,2617,104,Front,2.2,140
70,Chevrolet,Cavalier 4dr,Sedan,USA,26,37,14810,13884,2676,104,Front,2.2,140
71,Chevrolet,Cavalier LS 2dr,Sedan,USA,26,37,16385,15357,2617,104,Front,2.2,140

In [9]:
# 6. Use unique() the check your filter results
df_Q1["Vehicle_Make"].unique()

array(['Chevrolet'], dtype=object)

---

# Part 2

In [10]:
# 1. Read the Orders worksheet in the Sample - Superstore.xlsx file into a DataFrame; 
# display the DataFrame head and shape.
df = pd.read_excel('Sample - Superstore.xlsx', sheet_name='Orders')
print(df.shape)
df.head()

(9994, 21)

c:\Users\brown\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Row ID,Order ID,Order_Date,Ship Date,Ship Mode,Customer ID,Customer Name,Business_Segment,Country/Region,City,...,Zipcode,Region,Product_ID,Category,Subcategory,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,2019-06-12,2019-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [11]:
# 2. Display the data types of each column 
df.dtypes

Row ID                       int64
Order ID                    object
Order_Date          datetime64[ns]
Ship Date           datetime64[ns]
Ship Mode                   object
Customer ID                 object
Customer Name               object
Business_Segment            object
Country/Region              object
City                        object
State                       object
Zipcode                    float64
Region                      object
Product_ID                  object
Category                    object
Subcategory                 object
Product_Name                object
Sales                      float64
Quantity                     int64
Discount                   float64
Profit                     float64
dtype: object

In [12]:
# 3. Get uqniue values of State
df['State'].unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'South Carolina', 'Oregon', 'Colorado', 'Iowa', 'Ohio',
       'Missouri', 'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut',
       'New Jersey', 'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Montana', 'New Hampshire', 'Maryland',
       'District of Columbia', 'Kansas', 'Vermont', 'Maine',
       'South Dakota', 'Idaho', 'North Dakota', 'Wyoming',
       'West Virginia'], dtype=object)

### 4. Filter: North Carolina, Georgia, and Virginia with Sales > 500

In [15]:
print('Part 2.1')
# YOUR CODE HERE
selected_states = ['North Carolina', 'Georgia', 'Virginia']

df_Q2 = df.query('State in @selected_states and Sales > 500')
print(df_Q2.shape)
df_Q2

Part 2.1
(81, 21)

,Row ID,Order ID,Order_Date,Ship Date,Ship Mode,Customer ID,Customer Name,Business_Segment,Country/Region,City,...,Zipcode,Region,Product_ID,Category,Subcategory,Product_Name,Sales,Quantity,Discount,Profit
359,360,CA-2020-155698,2020-03-08,2020-03-11,First Class,VB-21745,Victoria Brennan,Corporate,United States,Columbus,...,31907.0,South,OFF-AP-10001124,Office Supplies,Appliances,Belkin 8 Outlet SurgeMaster II Gold Surge Prot...,647.840,8,0.0,168.4384
509,510,CA-2018-145352,2018-03-16,2018-03-22,Standard Class,CM-12385,Christopher Martinez,Consumer,United States,Atlanta,...,30318.0,South,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,6354.950,5,0.0,3177.4750
683,684,US-2020-168116,2020-11-04,2020-11-04,Same Day,GT-14635,Grant Thornton,Corporate,United States,Burlington,...,27217.0,South,TEC-MA-10004125,Technology,Machines,Cubify CubeX 3D Printer Triple Head Print,7999.980,4,0.5,-3839.9904
769,770,CA-2019-157245,2019-05-19,2019-05-24,Standard Class,LE-16810,Laurel Elliston,Consumer,United States,Arlington,...,22204.0,South,FUR-CH-10003746,Furniture,Chairs,Hon 4070 Series Pagoda Round Back Stacking Chairs,641.960,2,0.0,179.7488
792,793,CA-2019-105256,2019-05-20,2019-05-20,Same Day,JK-15730,Joe Kamberova,Consumer,United States,Asheville,...,28806.0,South,TEC-PH-10001530,Technology,Phones,Cisco Unified IP Phone 7945G VoIP phone,1363.960,5,0.2,85.2475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8964,8965,CA-2019-157280,2019-11-05,2019-11-07,First Class,LW-17125,Liz Willingham,Consumer,United States,Virginia Beach,...,23464.0,South,FUR-FU-10003806,Furniture,Furnishings,"Tenex Chairmat w/ Average Lip, 45"" x 53""",756.800,5,0.0,75.6800
9639,9640,CA-2018-116638,2018-01-28,2018-01-31,Second Class,JH-15985,Joseph Holt,Consumer,United States,Concord,...,28027.0,South,FUR-TA-10000198,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,4297.644,13,0.4,-1862.3124
9689,9690,US-2020-135986,2020-06-20,2020-06-27,Standard Class,PG-18895,Paul Gonzalez,Consumer,United States,Richmond,...,23223.0,South,TEC-PH-10003691,Technology,Phones,BlackBerry Q10,503.960,4,0.0,125.9900
9732,9733,CA-2017-114321,2017-08-20,2017-08-25,Standard Class,NC-18535,Nick Crebassa,Corporate,United States,Hampton,...,23666.0,South,FUR-CH-10001797,Furniture,Chairs,"Safco Chair Connectors, 6/Carton",500.240,13,0.0,145.0696
9734,9735,CA-2017-114321,2017-08-20,2017-08-25,Standard Class,NC-18535,Nick Crebassa,Corporate,United States,Hampton,...,23666.0,South,OFF-BI-10001359,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,896.990,1,0.0,421.5853

In [14]:
# 5. Use unique() to demonstrate that your State and Sales Filtering is correct
print("3.1 Part 2 Filtering Check:    ")
print("State:  ", df_Q2['State'].unique())
print("Sales:  ", df_Q2['Sales'].unique())

3.1 Part 2 Filtering Check:
State:   ['Georgia' 'North Carolina' 'Virginia']
Sales:   [ 647.84  6354.95  7999.98   641.96  1363.96  2715.93   617.97   619.95
 2244.48   540.048  572.76   695.7   1441.3   1127.976 1245.86   595.38
  723.92   826.11   571.44   675.12  1139.92  2690.97  1628.82   959.968
 1633.188 1267.65   504.9   4164.05   580.672  579.95  1202.94   569.536
  523.764 1359.96   542.94   978.84  2624.985  544.38  1599.92   863.928
 1126.02  1263.3   1781.682 2275.5   1979.7   2999.95  1256.22  1049.93
  701.96   945.036  962.08   627.168 1059.12  1652.94  1012.68  1350.12
  569.64  1196.86   523.26   591.32  3499.93  1299.99   872.94   876.3
 1871.88  1266.86   675.06  2939.93   630.024 8749.95  1056.86   704.76
 2104.55  1270.99   942.784  698.352  756.8   4297.644  503.96   500.24
  896.99 ]

---

# Part 3.1
- Using the `Leading_Causes_of_Death.csv` file, create code and to answer the following questions.

In [24]:
#1. Read the Leading_Causes_of_Death.csv file into a DataFrame; display the DataFrame head and shape.
df = pd.read_csv('Leading_Causes_of_Death.csv')
print(df.shape)
df.head()

(10868, 6)

,Year,Death_Cause_Name,113_Cause_Name,State,Deaths,Age-Adjusted Death Rate
0,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",United States,169936,49.4
1,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Alabama,2703,53.8
2,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Alaska,436,63.7
3,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Arizona,4184,56.2
4,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",Arkansas,1625,51.8

In [25]:
# 2. Display the data types of each column
df.dtypes

Year                         int64
Death_Cause_Name            object
113_Cause_Name              object
State                       object
Deaths                       int64
Age-Adjusted Death Rate    float64
dtype: object

In [30]:
# 3. In 2017, what were the leading causes of death in the United States? Use the query() method to filter the data
#  and display the shape of the resulting DataFrame.
print('Part 3.1: In 2017, what were the leading causes of death in the US?')

df_Q3 = df.query('Year == 2017 and State == "United States"')
print(df_Q3.shape)
df_Q3.head()

Part 3.1: In 2017, what were the leading causes of death in the US?
(11, 6)

,Year,Death_Cause_Name,113_Cause_Name,State,Deaths,Age-Adjusted Death Rate
0,2017,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",United States,169936,49.4
52,2017,All causes,All Causes,United States,2813503,731.9
104,2017,Alzheimer's disease,Alzheimer's disease (G30),United States,121404,31.0
156,2017,Stroke,Cerebrovascular diseases (I60-I69),United States,146383,37.6
208,2017,CLRD,Chronic lower respiratory diseases (J40-J47),United States,160201,40.9

In [31]:
# 4. Use unique() the check your filter results
print("Part 3.1 Filtering Check:    ")

print("State:  ", df_Q3['State'].unique())
print("Year:  ", df_Q3['Year'].unique())
print("Death_Cause_Name:  ", df_Q3['Death_Cause_Name'].unique())

Part 3.1 Filtering Check:
State:   ['United States']
Year:   [2017]
Death_Cause_Name:   ['Unintentional injuries' 'All causes' "Alzheimer's disease" 'Stroke'
 'CLRD' 'Diabetes' 'Heart disease' 'Influenza and pneumonia' 'Suicide'
 'Cancer' 'Kidney disease']

---

# Part 3.2
- In 2000, what were the leading causes of death in the US?

In [32]:

# 1. In 2000, what were the leading causes of death in the United States? Use the query() method to filter the data;
#  also, display the shape of the resulting DataFrame.

print('Part 3.2: In 2000, what were the leading causes of death in the US?')

df_Q4 = df.query('Year == 2000 and State == "United States"')
print(df_Q4.shape)
df_Q4.head()

Part 3.2: In 2000, what were the leading causes of death in the US?
(11, 6)

,Year,Death_Cause_Name,113_Cause_Name,State,Deaths,Age-Adjusted Death Rate
9768,2000,Unintentional injuries,"Accidents (unintentional injuries) (V01-X59,Y8...",United States,97900,34.9
9820,2000,All causes,All Causes,United States,2403351,869.0
9872,2000,Alzheimer's disease,Alzheimer's disease (G30),United States,49558,18.1
9924,2000,Stroke,Cerebrovascular diseases (I60-I69),United States,167661,60.9
9976,2000,CLRD,Chronic lower respiratory diseases (J40-J47),United States,122009,44.2

In [33]:
# 2. Use unique() the check your filter results
print("Part 3.2 Filtering Check:    ")

print("State:  ", df_Q4['State'].unique())
print("Year:  ", df_Q4['Year'].unique())
print("Death_Cause_Name:  ", df_Q4['Death_Cause_Name'].unique())

Part 3.2 Filtering Check:
State:   ['United States']
Year:   [2000]
Death_Cause_Name:   ['Unintentional injuries' 'All causes' "Alzheimer's disease" 'Stroke'
 'CLRD' 'Diabetes' 'Heart disease' 'Influenza and pneumonia' 'Suicide'
 'Cancer' 'Kidney disease']