# Demo 3.5 ***sort_values()***: Sorting a *pandas* Dataframe    

 
- **Changing Data Types**  
- **Sorting by One, Two or Three Columns**   
  - **Sorting by a Single Column**      
  - **Sorting by Two Columns**    
  - **Sorting by Three Columns**    


**requires data file:  `Cars.csv`

---

In [1]:
import pandas as pd

### 1. Read the datafile File into a *pandas* Dataframe

In [3]:
# dtype sets the data type as the csv file is read
# I'm doing it here just so I can demo changing the data types from string to numeric ones
df = pd.read_csv("Cars.csv",
                 dtype={'MPG_City': str,
                        'MPG_Hwy': str,
                        'Horsepower': str})

print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
0,Acura,MDX,SUV,Asia,17,23,36945,33337,4451,106,All,3.5,265
1,Acura,RSX Type S 2dr,Sedan,Asia,24,31,23820,21761,2778,101,Front,2.0,200
2,Acura,TSX 4dr,Sedan,Asia,22,29,26990,24647,3230,105,Front,2.4,200
3,Acura,TL 4dr,Sedan,Asia,20,28,33195,30299,3575,108,Front,3.2,270
4,Acura,3.5 RL 4dr,Sedan,Asia,18,24,43755,39014,3880,115,Front,3.5,225

### 2. Change Data Types as Needed

In [4]:
df.dtypes

Vehicle_Make             object
Vehicle_Model            object
Vehicle_Type             object
Manufacturing_Origin     object
MPG_City                 object
MPG_Hwy                  object
MSRP                      int64
Invoice                   int64
Weight                    int64
Wheelbase                 int64
DriveTrain               object
EngineSize              float64
Horsepower               object
dtype: object

In [6]:
# 3. Change the data types of the columns to the appropriate ones

# MPG and Dollar Amounts can be decimals - so they should all be floats
df['MPG_City'] = df['MPG_City'].astype('float64')
df['MPG_Hwy'] = df['MPG_Hwy'].astype('float64')

df['MSRP'] = df['MSRP'].astype('float64')
df['Invoice'] = df['Invoice'].astype('float64')

# Horsepower is usually a reported as a whole number, so let's change it to an Integer
df['Horsepower'] = df['Horsepower'].astype('int64')

df.dtypes

Vehicle_Make             object
Vehicle_Model            object
Vehicle_Type             object
Manufacturing_Origin     object
MPG_City                float64
MPG_Hwy                 float64
MSRP                    float64
Invoice                 float64
Weight                    int64
Wheelbase                 int64
DriveTrain               object
EngineSize              float64
Horsepower                int64
dtype: object

# Sorting by a Single Column

### 4. Sort Highest to Lowest

In [9]:
df.sort_values(by='MPG_City', ascending=False, inplace=True)

print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,60.0,66.0,19110.0,17911.0,1850,95,Front,2.0,73
373,Toyota,Prius 4dr (gas/electric),Hybrid,Asia,59.0,51.0,20510.0,18926.0,2890,106,Front,1.5,110
149,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,46.0,51.0,20140.0,18451.0,2732,103,Front,1.4,93
404,Volkswagen,Jetta GLS TDI 4dr,Sedan,Europe,38.0,46.0,21055.0,19638.0,3003,99,Front,1.9,100
155,Honda,Civic HX 2dr,Sedan,Asia,36.0,44.0,14170.0,12996.0,2500,103,Front,1.7,117

### 5. Sort Lowest to Highest

In [10]:
df.sort_values(by='MPG_City', ascending=True, inplace=True)


print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
118,Ford,Excursion 6.8 XLT,SUV,USA,10.0,13.0,41475.0,36494.0,7190,137,All,6.8,310
166,Hummer,H2,SUV,USA,10.0,12.0,49995.0,45815.0,6400,123,All,6.0,316
412,Volkswagen,Phaeton W12 4dr,Sedan,Europe,12.0,19.0,75000.0,69130.0,5399,118,Front,6.0,420
114,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,12.0,20.0,81795.0,74451.0,3410,99,Rear,8.3,500
215,Land Rover,Range Rover HSE,SUV,Europe,12.0,16.0,72250.0,65807.0,5379,113,All,4.4,282

# Sorting by Two Columns

### 6. Sort by Origin (Alphabetically) and MPG_City (Most to Least)

In [12]:
df.sort_values(by=['Manufacturing_Origin', 'MPG_City'], ascending=[True, False], inplace=True)
print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,60.0,66.0,19110.0,17911.0,1850,95,Front,2.0,73
373,Toyota,Prius 4dr (gas/electric),Hybrid,Asia,59.0,51.0,20510.0,18926.0,2890,106,Front,1.5,110
149,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,46.0,51.0,20140.0,18451.0,2732,103,Front,1.4,93
155,Honda,Civic HX 2dr,Sedan,Asia,36.0,44.0,14170.0,12996.0,2500,103,Front,1.7,117
382,Toyota,Echo 2dr manual,Sedan,Asia,35.0,43.0,10760.0,10144.0,2035,93,Front,1.5,108

### 7. Sort by Origin (Reverse Alphabetically) and MPG_City (Least to Most)

In [13]:
df.sort_values(by=['Manufacturing_Origin', 'MPG_City'], ascending=[False, True], inplace=True)

print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
118,Ford,Excursion 6.8 XLT,SUV,USA,10.0,13.0,41475.0,36494.0,7190,137,All,6.8,310
166,Hummer,H2,SUV,USA,10.0,12.0,49995.0,45815.0,6400,123,All,6.0,316
114,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,12.0,20.0,81795.0,74451.0,3410,99,Rear,8.3,500
147,GMC,Sierra HD 2500,Truck,USA,13.0,18.0,29322.0,25759.0,5440,133,All,6.0,300
87,Chevrolet,Silverado SS,Truck,USA,13.0,17.0,40340.0,35399.0,4804,144,All,6.0,300

# Sorting by Three Columns

### 8. Sort by Origin (Alphabetically), Type (Alphabetically) and MPG_City (Most to Least)

In [14]:
df.sort_values(by=['Manufacturing_Origin','Vehicle_Type', 'MPG_City'], ascending=[True, True, False], inplace=True)

print(df.shape)
df.head(10)

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,60.0,66.0,19110.0,17911.0,1850,95,Front,2.0,73
373,Toyota,Prius 4dr (gas/electric),Hybrid,Asia,59.0,51.0,20510.0,18926.0,2890,106,Front,1.5,110
149,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,46.0,51.0,20140.0,18451.0,2732,103,Front,1.4,93
240,Mazda,Tribute DX 2.0,SUV,Asia,22.0,25.0,21087.0,19742.0,3091,103,All,2.0,130
378,Toyota,RAV4,SUV,Asia,22.0,27.0,20290.0,18553.0,3119,98,All,2.4,161
288,Mitsubishi,Outlander LS,SUV,Asia,21.0,27.0,18892.0,17569.0,3240,103,Front,2.4,160
152,Honda,CR-V LX,SUV,Asia,21.0,25.0,19860.0,18419.0,3258,103,All,2.4,160
153,Honda,Element LX,SUV,Asia,21.0,24.0,18690.0,17334.0,3468,101,All,2.4,160
167,Hyundai,Santa Fe GLS,SUV,Asia,20.0,26.0,21589.0,20201.0,3549,103,Front,2.7,173
366,Suzuki,Vitara LX,SUV,Asia,19.0,22.0,17163.0,16949.0,3020,98,All,2.5,165