# Ex 3.2: Reading an *Excel* file      
 
- Objective: Read an Excel worksheet into a *pandas* Dataframe and display basic info about the new *pandas* Dataframe.   

** requires data files: `w3schools_Data.xlsx` and `Sample - Superstore.xlsx`; Worksheets: `Products`, `Orders` and `OrderDetails`
  
- **Demonstrates**:  
  - read_excel()  
  - head()  
  - shape 
  - dtypes  

  ---

In [2]:
import pandas as pd

# Part 1

In [20]:
# 1. Read the Products sheet from the w3schools_Data.xlsx file
# Print the shape and display the head of the dataframe
print('Ex 3.2 Part 1')

df = pd.read_excel('w3schools_Data.xlsx', sheet_name='Products')
print(df.shape)
df.head()

Ex 3.2 Part 1
(77, 6)

,Product_ID,Product_Name,SupplierID,CategoryID,ProductDescription,ProductPrice
0,1,Chais,1,1,10 boxes x 20 bags,18.00
1,2,Chang,1,1,24 - 12 oz bottles,19.00
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35

In [6]:
# 2. Display the Data Types for the DataFrame columns

df.dtypes

Product_ID              int64
Product_Name           object
SupplierID              int64
CategoryID              int64
ProductDescription     object
ProductPrice          float64
dtype: object

---

# Part 2

In [19]:
# 1. Read the Orders worksheet in the Sample - Superstore.xlsx file into a DataFrame; 
# display the DataFrame head and shape.
print("Ex 3.2 Part 2")

df = pd.read_excel('Sample - Superstore.xlsx', sheet_name='Orders')
print(df.shape)
df.head()

Ex 3.2 Part 2
(9994, 21)

c:\Users\brown\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Row ID,Order ID,Order_Date,Ship Date,Ship Mode,Customer ID,Customer Name,Business_Segment,Country/Region,City,...,Zipcode,Region,Product_ID,Category,Subcategory,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,2019-06-12,2019-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [10]:
# 2. Display the Data Types for the DataFrame columns

df.dtypes

Row ID                       int64
Order ID                    object
Order_Date          datetime64[ns]
Ship Date           datetime64[ns]
Ship Mode                   object
Customer ID                 object
Customer Name               object
Business_Segment            object
Country/Region              object
City                        object
State                       object
Zipcode                    float64
Region                      object
Product_ID                  object
Category                    object
Subcategory                 object
Product_Name                object
Sales                      float64
Quantity                     int64
Discount                   float64
Profit                     float64
dtype: object

---

# Part 3

In [29]:
# 1. Read the OrderDetails worksheet in the w3schools_Data.xlsx file into a DataFrame; 
# display the DataFrame head and shape.
print("Ex 3.2 Part 3")

df = pd.read_excel('w3schools_Data.xlsx', sheet_name='OrderDetails', skiprows=2)
print(df.shape)
df.head()

Ex 3.2 Part 3
(518, 4)

   OrderDetailID  OrderID  Product_ID  Quantity
0              1    10248          11        12
1              2    10248          42        10
2              3    10248          72         5
3              4    10249          14         9
4              5    10249          51        40

In [30]:
# 2. Display the Data Types for the DataFrame columns

df.dtypes

OrderDetailID    int64
OrderID          int64
Product_ID       int64
Quantity         int64
dtype: object