# Demo 3.8 - Part 1:  Screenscraping with pandas  

- **Skills Demonstrated:**  
  1. Screenscraping with *read_html()*  
  

- Web page with data: https://en.wikipedia.org/wiki/List_of_S%26P_500_companies



- **Key Steps:**  
  1. Grab HTML Table data from web page  
    1. Each HTML Table of data will be stored as an item in the *tables* List
  2. Choose the table of data (from the *tables* List) you want  
  3. Create a pandas dataframe from the chosen list item of data


- **References:**  
  - [Quick Tip: The easiest way to grab data out of a web page in Python](https://medium.com/@ageitgey/quick-tip-the-easiest-way-to-grab-data-out-of-a-web-page-in-python-7153cecfca58)    
  - [Reading HTML Tables with pandas](https://pbpython.com/pandas-html-table.html)

In [6]:
import pandas as pd

# 1. Grab table(s) from web page 
- Each HTML table of data 0n the web page will be one item our the python List *tables*

In [7]:
url =  'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
df = pd.read_html(url)

#### Identify the data type

In [9]:
type(df)

list

# 2. Choose the table of data (from the table List) you want

In [11]:
print("Number of Tables of Data in tables List:  ", len(df))

Number of Tables of Data in tables List:   2

In [12]:
type(df)

list

# 3. Create a pandas dataframe from the chosen list item of data

In [14]:
df = df[0]

print("3.8 Demo Part 1: Screenscraping")
print(df.shape)
df.head()

3.8 Demo Part 1: Screenscraping
(503, 8)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [15]:
df.dtypes

Symbol                   object
Security                 object
GICS Sector              object
GICS Sub-Industry        object
Headquarters Location    object
Date added               object
CIK                       int64
Founded                  object
dtype: object

# Optional:  Save the Dataframe as a CSV file

In [16]:
# csv_file_to_create = "Demo_3.8_P1_SP500_Stocks.csv"

# filename_with_path = "Data/" + csv_file_to_create
# df.to_csv(filename_with_path, index=False)