# Demo 3.6 *groupby()*: Aggregating On a *Single* Column 

 
**requires data file:  `Cars.csv`

In [18]:
import pandas as pd

### Read the datafile File into a *pandas* Dataframe

In [19]:
df = pd.read_csv('Cars.csv')

print(df.shape)
df.head()

(428, 13)

,Vehicle_Make,Vehicle_Model,Vehicle_Type,Manufacturing_Origin,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,DriveTrain,EngineSize,Horsepower
0,Acura,MDX,SUV,Asia,17,23,36945,33337,4451,106,All,3.5,265
1,Acura,RSX Type S 2dr,Sedan,Asia,24,31,23820,21761,2778,101,Front,2.0,200
2,Acura,TSX 4dr,Sedan,Asia,22,29,26990,24647,3230,105,Front,2.4,200
3,Acura,TL 4dr,Sedan,Asia,20,28,33195,30299,3575,108,Front,3.2,270
4,Acura,3.5 RL 4dr,Sedan,Asia,18,24,43755,39014,3880,115,Front,3.5,225

# Change Data Types as Needed

In [20]:
# data Vehicle_Types 'Before' 
df.dtypes

Vehicle_Make             object
Vehicle_Model            object
Vehicle_Type             object
Manufacturing_Origin     object
MPG_City                  int64
MPG_Hwy                   int64
MSRP                      int64
Invoice                   int64
Weight                    int64
Wheelbase                 int64
DriveTrain               object
EngineSize              float64
Horsepower                int64
dtype: object

In [21]:
# Convert MSRP, Invoice, MPG_City, MPG_Hwy to floats
df['MSRP'] = df['MSRP'].astype(float)
df['Invoice'] = df['Invoice'].astype(float)

df['MPG_City'] = df['MPG_City'].astype(float)
df['MPG_Hwy'] = df['MPG_Hwy'].astype(float)

In [22]:
# data Vehicle_Types 'After' 
df.dtypes

Vehicle_Make             object
Vehicle_Model            object
Vehicle_Type             object
Manufacturing_Origin     object
MPG_City                float64
MPG_Hwy                 float64
MSRP                    float64
Invoice                 float64
Weight                    int64
Wheelbase                 int64
DriveTrain               object
EngineSize              float64
Horsepower                int64
dtype: object

# Question:  What is the Average City MPG By Vehicle Type?  
- Categorical Variable to Group On:    
- Continuous Variable We're Interested In:   
- Aggregation Function:

In [23]:
# Optional:  Display the unique values of the column we want to Group on
df['Vehicle_Type'].unique()

array(['SUV', 'Sedan', 'Sports', 'Wagon', 'Truck', 'Hybrid'], dtype=object)

# Group on One Column:  *Vehicle_Type*

In [24]:
df_grouped = df.groupby('Vehicle_Type').mean(numeric_only=True).reset_index()
df_grouped

,Vehicle_Type,MPG_City,MPG_Hwy,MSRP,Invoice,Weight,Wheelbase,EngineSize,Horsepower
0,Hybrid,55.000000,56.000000,19920.000000,18429.333333,2490.666667,101.333333,1.633333,92.000000
1,SUV,16.100000,20.500000,34790.250000,31625.350000,4444.433333,111.083333,3.920000,235.816667
2,Sedan,21.083969,28.629771,29773.618321,27389.797710,3399.064885,108.000000,2.970992,201.656489
3,Sports,18.408163,25.489796,53387.061224,48473.163265,3295.693878,99.979592,3.442857,284.163265
4,Truck,16.500000,21.000000,24941.375000,22616.750000,4250.750000,123.000000,4.079167,224.833333
5,Wagon,21.100000,27.900000,28840.533333,26645.633333,3438.800000,105.800000,2.770000,194.000000

In [25]:
df_grouped.columns

Index(['Vehicle_Type', 'MPG_City', 'MPG_Hwy', 'MSRP', 'Invoice', 'Weight',
       'Wheelbase', 'EngineSize', 'Horsepower'],
      dtype='object')

In [26]:
df_grouped.drop(columns=['MSRP', 'Invoice', 'Weight', 'Wheelbase', 'EngineSize', 'Horsepower'], inplace=True)
print("3.6 Demo:  Grouping on One Column")
print(df_grouped.shape)
df_grouped.head()

3.6 Demo:  Grouping on One Column
(6, 3)

  Vehicle_Type   MPG_City    MPG_Hwy
0       Hybrid  55.000000  56.000000
1          SUV  16.100000  20.500000
2        Sedan  21.083969  28.629771
3       Sports  18.408163  25.489796
4        Truck  16.500000  21.000000

# What is the Average MSRP by Vehicle Type?
- Sort by MSRP (Greatest to Least)

In [27]:
print("3.6 Part 1: Average MSRP by Vehicle Type")
df_Q1 = df.groupby('Vehicle_Type').mean(numeric_only=True).reset_index()
df_Q1.sort_values(by='MSRP', ascending=False, inplace=True)
df_Q1.drop(columns=['Weight', 'Wheelbase', 'EngineSize', 'Horsepower'], inplace=True)
print(df_Q1.shape)
df_Q1

3.6 Part 1: Average MSRP by Vehicle Type
(6, 5)

  Vehicle_Type   MPG_City    MPG_Hwy          MSRP       Invoice
3       Sports  18.408163  25.489796  53387.061224  48473.163265
1          SUV  16.100000  20.500000  34790.250000  31625.350000
2        Sedan  21.083969  28.629771  29773.618321  27389.797710
5        Wagon  21.100000  27.900000  28840.533333  26645.633333
4        Truck  16.500000  21.000000  24941.375000  22616.750000
0       Hybrid  55.000000  56.000000  19920.000000  18429.333333

In [35]:
df = pd.read_excel('Sample - Superstore.xlsx')
print(df.shape)
df.head()

(9994, 21)

c:\Users\brown\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Row ID,Order ID,Order_Date,Ship Date,Ship Mode,Customer ID,Customer Name,Business_Segment,Country/Region,City,...,Zipcode,Region,Product_ID,Category,Subcategory,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,2019-11-08,2019-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,2019-06-12,2019-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,2018-10-11,2018-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [72]:
print("3.6 Part 2: Total Sales and Profit by Region")
df = pd.read_excel('Sample - Superstore.xlsx')
df_Q2 = df.groupby('Region', as_index=True).sum(numeric_only=True).reset_index()
df_dropped = df_Q2.drop(columns=['Zipcode', 'Quantity', 'Discount', 'Row ID'])
df_dropped.reset_index(inplace=True)
print(df_dropped.shape)
df_dropped

3.6 Part 2: Total Sales and Profit by Region
(4, 4)

c:\Users\brown\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

   index   Region        Sales       Profit
0      0  Central  501239.8908   39706.3625
1      1     East  678781.2400   91522.7800
2      2    South  391721.9050   46749.4303
3      3     West  725457.8245  108418.4489

In [59]:
print("3.6 Part 3: Average Sales by Subcategory")
df = pd.read_excel('Sample - Superstore.xlsx')
df_Q3 = df.groupby('Subcategory', as_index=True).mean(numeric_only=True).reset_index()
df_dropped = df_Q3.drop(columns=['Zipcode', 'Quantity', 'Discount', 'Row ID', 'Sales'])
print(df_dropped.shape)
df_dropped

3.6 Part 3: Average Sales by Subcategory
(17, 2)

c:\Users\brown\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

    Subcategory      Profit
0   Accessories   54.111788
1    Appliances   38.922758
2           Art    8.200737
3       Binders   19.843574
4     Bookcases  -15.230509
5        Chairs   43.095894
6       Copiers  817.909190
7     Envelopes   27.418019
8     Fasteners    4.375660
9   Furnishings   13.645918
10       Labels   15.236962
11     Machines   29.432669
12        Paper   24.856620
13       Phones   50.073938
14      Storage   25.152277
15     Supplies   -6.258418
16       Tables  -55.565771

In [68]:
print("3.6 Part 4: What are the Top 5 Customers for Total Profits?")
df = pd.read_excel('Sample - Superstore.xlsx')
df_Q4 = df.groupby('Customer Name', as_index=True).sum(numeric_only=True).reset_index()
df_dropped = df_Q4.drop(columns=['Zipcode', 'Quantity', 'Discount', 'Row ID', 'Sales']).sort_values(by='Profit', ascending=False).head(5)
print(df_dropped.shape)
df_dropped

3.6 Part 4: What are the Top 5 Customers for Total Profits?
(5, 2)

c:\Users\brown\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

     Customer Name     Profit
730   Tamara Chand  8981.3239
622   Raymond Buch  6976.0959
671   Sanjit Chand  5757.4119
334   Hunter Lopez  5622.4292
6    Adrian Barton  5444.8055